.blogDetails {
  width: 980px;
  height: 1150px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .blogDetailHero {
    width: 980px;
    height: 300px;
    margin-bottom: 55px;

    .firstBlogHero {
      width: 980px;
      height: 300px;
      background-image: linear-gradient(
          to right,
          rgba(238, 67, 103, 0.6),
          rgba(238, 67, 103, 0.6)
        ),
        url(../images/blog.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding-top: 72px;
    }

    .secondBlogHero {
      width: 980px;
      height: 300px;
      background-image: linear-gradient(
          to right,
          rgba(238, 67, 103, 0.6),
          rgba(238, 67, 103, 0.6)
        ),
        url(../images/blog.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding-top: 72px;
    }

    .thirdBlogHero {
      width: 980px;
      height: 300px;
      background-image: linear-gradient(
          to right,
          rgba(238, 67, 103, 0.6),
          rgba(238, 67, 103, 0.6)
        ),
        url(../images/blog.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding-top: 72px;
    }

    .fourthBlogHero {
      width: 980px;
      height: 300px;
      background-image: linear-gradient(
          to right,
          rgba(238, 67, 103, 0.6),
          rgba(238, 67, 103, 0.6)
        ),
        url(../images/blog.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding-top: 72px;
    }

    .fifthBlogHero {
      width: 980px;
      height: 300px;
      background-image: linear-gradient(
          to right,
          rgba(238, 67, 103, 0.6),
          rgba(238, 67, 103, 0.6)
        ),
        url(../images/blog.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding-top: 72px;
    }

    .blogHeroCallout {
      width: 155px;
      height: 155px;
      background-color: #ee4367;
      color: white;
      text-align: center;
      padding-top: 22px;
      margin: 0 auto;

      h1 {
        font-size: 55px;
        font-family: GillSans;
      }

      h2 {
        font-size: 31px;
        font-family: GillSans;
      }
    }
  }

  .blogDetailDescription {
    width: 860px;

    .descriptions {
      margin-bottom: 50px;
      h6 {
        font-size: 20px;
        font-family: GillSans;
        color: #ee4367;
      }

      p {
        font-size: 20px;
        font-family: GillSans;
      }
    }
  }
}
