nav {
  width: 100%;
  height: 100px;
  //   background-color: skyblue;
  margin: 0 auto;
  position: fixed;

  .detailsNavs {
    width: 980px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px #000;

    .logo {
      width: 110px;
      height: 42px;
      background-image: url(../images/logo/logo-black.png);
      background-repeat: no-repeat;
    }

    .links {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      a {
        color: black;
        text-decoration: none;
        font-family: GillSans;
        font-size: 15px;
      }

      span {
        color: #ee4367;
      }
    }
  }
}
